.text-center {
  text-align: center;
}

.site-author-image {
  background: white;
  background-clip: content-box;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.sidebar .sidebar-button {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  a {
    button($orange);
    border: 1px solid $orange;
    border-radius: 4px;
    // To make line-height in button mixin work
    display: inline-block;

    .fa, .fab, .far, .fas {
      margin-right: 5px;
    }

    if (($scheme == 'Pisces') or ($scheme == 'Gemini')) {
      border: 0;
      color: $orange;
      display: block;

      &:hover {
        background: none;
        border: 0;
        color: darken($orange, 20%);
      }
    }
  }
}

.cc-license img {
    max-width: 27%;
    display: inline-block;
    display: none
}

.links-of-author a {
    font-size: 0.9em;
}

.fa-fw {
    text-align: center;
    width: 2.25em;
}

.footer-inner .footer-custom{
  display: none
}

.categories-list {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.category-all-page .category-list-count {
    font-size: 0.85em;
    background: none;
    border-radius: 10px;
    color: rgb(187, 187, 187);
    font-weight: bold;
    line-height: 1;
    margin-left: 0.35em;
    padding: 2px 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.category-all-page .category-list-count::before {
    content: " ("; /* 左括号和空格 */
    margin-right: 2px;
}

.category-all-page .category-list-count::after {
    content: ") "; /* 右括号和空格 */
    margin-left: 2px;
}
